* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

.explore-btn {
    background-color: #ff900e;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

/* global style end */

header {
    background-color: rgba(211, 100, 38, 0.23);
    border: 1px solid #000000;
}

.container {
    padding: 0px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    color: black;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    margin-left: 60px;
    color: black;
    font-size: 18px;
}

/* nav style done */
.header-detail {
    text-align: center;
}

.header-text h1 {
    font-style: normal;
    font-weight: bold;
    font-weight: 800;
    font-size: 54px;
    margin-top: 50px;
}

.header-text p {
    margin: 30px 0;
}

.header-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px 0;
}

/* Feature Section Style
========================= */

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 14px;
    margin-left: 6%;
}

.feature-img img {
    object-fit: cover;
    width: 242px;
    height: 242px;

}

.feature-text {
    width: 50%;
    margin-left: 5%;
}

.feature-text h2 {
    font-size: 40px;
}

.feature-text .glow-text {
    color: #FF900E;
    font-weight: bold;
    font-size: 38px
}

.first-glow {
    color: #878181;
}

.feature-text p {
    width: 80%;
    margin: 20px 0;
    color: #727272;
}

/* feature section end */
/* love section start */

.about {
    margin: 200px 0;
}

.love {
    display: flex;
}

.love-text,
.love-img {
    width: 50%;

}

.love-img img {
    width: 708px;
    height: 982px;
}

.border-div {
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.border-div h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.about-para {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin: 24px 0;
    width: 586px;

}

.card {
    padding: 30px;
    margin-top: 20px;
    width: 586px;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.card h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
}

.card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.over-div {
    width: 342px;
    height: 200px;
    background: #FF900E;
    text-align: center;
    padding: 46px;
    color: #FFFFFF;
    border-radius: 5px;
    position: relative;
    left: 46%;
    bottom: 159px;
}

.over-div h2 {
    font-weight: 700;
    font-size: 65px;
}

.over-div p {
    font-size: 20px;
}